@font-face {
    font-family: 'MyriadPro-Bold';
    src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-LightSemiExt';
    src: local('@'), url("../fonts/MyriadPro-LightSemiExt.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;

    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    background-color: grey;
}

.container {
    margin: auto;
    display: flex;
    width: 1280px;
    background-color: #ffffff;
    padding-bottom: 66px;
}

.coll-1 {
    margin-left: 63px;
    width: 428px;
}

.coll-2 {
    margin-left: 77px;
    width: 653px;
}

/*Bio block*/

.bio {
    margin: 0 auto;
    text-align: center;
}

.bio_img {
    width: 209px;
    height: 209px;
    background: #006cb4;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 14px #fff,
    0 0 0 15px #006cb4;
    margin-top: 109px;
    margin-left: 118px;
}

.fullname {
    position: relative;
    left: -8px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
}

.bio_name {
    margin-top: 52px;
    font-family: 'MyriadPro-LightSemiExt', Arial, sans-serif;
    font-size: 37.5px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    -moz-transform: matrix(1.46297581663061, 0, 0, 1.43842501051826, 0, 0);
    -webkit-transform: matrix(1.46297581663061, 0, 0, 1.43842501051826, 0, 0);
    -ms-transform: matrix(1.46297581663061, 0, 0, 1.43842501051826, 0, 0);
}

.bio_surname {
    margin-top: 17px;
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    -moz-transform: matrix(2.54907197031167, 0, 0, 2.54930879922867, 0, 0);
    -webkit-transform: matrix(2.54907197031167, 0, 0, 2.54930879922867, 0, 0);
    -ms-transform: matrix(2.54907197031167, 0, 0, 2.54930879922867, 0, 0);
}

.bio_prof {
    margin-top: 34px;
    font-size: 8.333px;
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    -moz-transform: matrix(2.97387570243341, 0, 0, 3.09574086498728, 0, 0);
    -webkit-transform: matrix(2.97387570243341, 0, 0, 3.09574086498728, 0, 0);
    -ms-transform: matrix(2.97387570243341, 0, 0, 3.09574086498728, 0, 0);
}

/*Block's header*/

.header {
    font-family: "MyriadPro-Bold", Arial, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    line-height: normal;
    color: #006cb4;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header .img {
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto 0;
}

.header .h2 {
    font-family: "MyriadPro-Bold", Arial, sans-serif;
    font-size: 43px;
    text-transform: uppercase;
    margin: auto 0;
}

.header .line {
    height: 5px;
    background-color: #006cb4;
    margin: auto 0;
}

/*Profile block*/

.profile {
    margin-top: 89px;

}

.profile .img {
    background-image: url("../img/PROFILE.png");
    width: 77px;
    height: 74px;
}

.profile .h2 {
    padding-left: 9px;
    margin-top: 10px;
    padding-right: 6px;
}

.profile .line {
    width: 173px;
    margin-top: 33px;
}

.profile p {
    margin-top: 12px;
}

.profile > p > span {
    font-family: 'Myriad-Pro', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/*Contact block*/

.contact {
    margin-top: 49px;
}

.contact .img {
    background-image: url("../img/Phone.png");
    width: 74px;
    height: 75px;
}

.contact .h2 {
    padding-left: 12px;
    padding-right: 5px;
    margin-top: 11px;
}

.contact .line {
    width: 153px;
    margin-top: 33px;
}

#contact {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding-bottom: 28px;
}

td.first {
    width: 31%;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #006cb4;
}

td.second {
    font-size: 21px;
}

/*Skills block*/

.skills {
    margin-top: 19px;
}

.skills .img {
    background-image: url("../img/SKILLS.png");
    width: 74px;
    height: 75px;
    margin-top: 2px;
}

.skills .h2 {
    padding-left: 9px;
    padding-right: 13px;
    margin-top: 11px;
}

.skills .line {
    width: 199px;
    margin-top: 35px;
}

.skills .row {
    margin: 0 46px;
    padding-bottom: 20px;
}

.skills_row {
    margin-top: 22px;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.skills h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 26px;
}

.progress_level {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.round {
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: block;
}

.round.fill {
    background-color: #006cb4;
}

/*Educational block*/

.education {
    margin-top: 82px;
}

.education .img {
    background-image: url("../img/EDUCATION.png");
    width: 77px;
    height: 74px;
}

.education .h2 {
    padding-left: 18px;
    margin-top: 9px;
    padding-right: 7px;
}

.education .line {
    width: 321px;
    margin-top: 32px;
}

.education-item::before {
    content: '';

    position: absolute;
    top: 7px;
    left: -43px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
}

.education-item {
    margin-top: 25px;
    margin-left: 56px;
    position: relative;;
}

.education-item .second_row {
    margin-top: 2px;
}

.education-item .third_row {
    margin-top: 8px;
}

.item-2 {
    margin-top: 11px;
}

.item-3 {
    margin-top: 8px;
}

.item-4 {
    margin-top: 9px;
}

/*Experience block*/

.experience {
    margin-top: 50px;
}

.experience .img {
    background-image: url('../img/EXPERIENCE.png');
    width: 79px;
    height: 76px;
}

.experience .h2 {
    padding-left: 16px;
}

.experience .line {
    width: 321px;
}

.experience-item {
    margin-top: 42px;
    margin-left: 54px;
    position: relative;
}

.experience-item::before {
    content: '';

    position: absolute;
    top: 7px;
    left: -41px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
}

.experience-item .second_row {
    margin-top: 3px;
}

.experience-item .third_row {
    margin-top: 6px;
    margin-left: 3px;
}

.experience-item.item-2 {
    margin-top: 10px;
}

.experience-item.item-3 {
    margin-top: 11px;
}

.bold {
    font-family: "MyriadPro-Bold", Arial, sans-serif;
    font-size: 27px;
    line-height: 1.2;
    text-transform: uppercase;
}

.bold.color {
    color: #006cb4;
}

.uppercase {
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 26px;
}

.just_upper {
    font-size: 27px;
}

/*Software block*/

.software {
    margin-top: 52px;
}

.software .img {
    background-image: url("../img/SOFTWARE.png");
    width: 77px;
    height: 74px;
}

.software .h2 {
    padding-left: 18px;
    margin-top: 13px;
    padding-right: 22px;
}

.software .line {
    width: 321px;
    margin-top: 36px;
}

.software h3 {
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
}

#software {
    margin-left: 7px;
    margin-top: 28px;
}

#software td {
    padding: 0 0 4px 0;
    height: 40px;
    vertical-align: top;
    width: 55%;
}

.bar {
    width: 285.5px;
    height: 23px;
    background-color: #e6e6e6;
}

.fillbar {
    height: 23px;
    background-color: #006cb4;
}

.fillbar.Photoshop {
    width: 260px;
}

.fillbar.Illustrator {
    width: 201.3px;
}

.fillbar.Indesign {
    width: 160.6px;
}

.fillbar.Dreamwaver {
    width: 237px;
}

.fillbar.Effects {
    width: 176px;
}

.fillbar.Html {
    width: 260px;
}