@font-face {
	font-family: 'MyriadPro-Bold';
	src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;

    font-family: "MyriadPro-Regular", Arial, sans-serif;
	font-size: 24px;
	line-height: normal;
	font-weight: 400;
    background-color: black;
}

ul p {
    margin: 0;
    padding: 0;
}

section > div > h2 {
    font-family: "MyriadPro-Bold", Arial, sans-serif;
    font-size: 64px;
    line-height: normal;
    color: #3d6cb0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 116px 89px 148px 94px;
}

.coll-1 {
	width: 40%;
	float: left;
    margin-right: 90px;
}

.coll-2 {
    /*display: block;*/
    /*width: 60%;*/
}



/*Bio block*/

.bio {
    padding-left: 112px;
}

.bio_img {
	width: 240px;
	height: 240px;
	background: #3d6cb0;
	-moz-border-radius: 120px;
	-webkit-border-radius: 120px;
	border-radius: 120px;
	box-shadow: 0 0 0 15px #fff,
				0 0 0 16px #3d6cb0;
}

.bio_name {
	text-transform: uppercase;
	font-size: 81px;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	/*border: solid 2px red;*/
	/*background: yellow;*/
}

.bio_surname {
	text-transform: uppercase;
	font-size: 96px;
	font-weight: bold;
}

.bio_prof {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}

/*Profile block*/

.profile .img {
    display: inline-block;
    width: 115px;
    height: 111px;
    background-image: url("../img/PROFILE.png");
    border: solid 2px red;
}

.header h2 {
    border: solid 2px;
    display: inline-block;
}

.header .line {
    border: solid green;
    display: inline-block;

}

.header.section {
    display: block;
    background-color: antiquewhite;
    height: 120px;
    width: 550px;
    vertical-align: center;
    border: transparent 1px solid;

}


/*Contact block*/

.line {
    height: 8px;
    width: 266px;
    background-color: #3d6cb0;
    display: inline-block;
}

.contact .img {
    display: inline-block;
    width: 111px;
    height: 111px;
    background-image: url("../img/Phone.png");
}

.contact {
}


/*Educational block*/

.education .img {
    display: inline-block;
    width: 115px;
    height: 111px;
    background: url(../img/EDUCATION.png);
    background-repeat: no-repeat;
}

.education {

}

/*Experience block*/
.experience .img {
    display: inline-block;
    width: 120px;
    height: 115px;
    background-image: url(../img/EXPERIENCE.png);
    background-repeat: no-repeat;
}

.experience {

}

.bold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.uppercase {
    text-transform: uppercase;
    font-size: 40px;
}

/*Skills block*/
.skills .img {
    display: inline-block;
    width: 111px;
    height: 111px;
    background-image: url("../img/SKILLS.png");
}
.skills {
    text-align: center;
}

.round {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #e6e6e6;
	display: inline-block;
	margin-right: 5px;
}

.round.fill {
	background-color: #3d6cb0;
}
/*Software block*/

.software .img {
    display: inline-block;
    width: 115px;
    height: 111px;
    background-image: url("../img/SOFTWARE.png");
}

.software {
    display: inline-block;
}

.subcol {
    display: inline-block;
    height: 100px;
}

.bar {
	width: 428px;
	height: 35px;
	background-color: #e6e6e6;
}

.fillbar.Photoshop {
	width: 390px;
	height: 35px;
	background-color: #3d6cb0;
}

.fillbar.Illustrator {
	width: 302px;
	height: 35px;
	background-color: #3d6cb0;
}

.fillbar.Indesign {
	width: 240.88px;
	height: 35px;
	background-color: #3d6cb0;
}

.fillbar.Dreamwaver {
	width: 355.60px;
	height: 35px;
	background-color: #3d6cb0;
}

.fillbar.Effects {
	width: 263.81px;
	height: 35px;
	background-color: #3d6cb0;
}

.fillbar.Html {
	width: 390px;
	height: 35px;
	background-color: #3d6cb0;
}