@font-face {
    font-family: 'MyriadPro-Bold';
    src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-LightSemiExt';
    src: local('@'), url("../fonts/MyriadPro-LightSemiExt.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    background-color: black;
}

ul, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

section > div > h2 {
    font-family: "MyriadPro-Bold", Arial, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    line-height: normal;
    color: #3d6cb0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #67ff94;
    padding-top: 105px;
    padding-bottom: 98px;
    padding-left: auto;
    padding-right: auto;
}

.coll-1 {
    width: 33.3%;
    float: left;
    margin-right: 60px;
    margin-left: 65px;
}

.coll-2 {
    width: auto;
}

/*Bio block*/

.bio {
    margin: 0 auto;
    text-align: center;
    height: 485px;
    padding-left: 15px;
}

.bio_img {
    width: 210px;
    height: 210px;
    background: #3d6cb0;
    -moz-border-radius: 105px;
    -webkit-border-radius: 105px;
    border-radius: 105px;
    box-shadow: 0 0 0 15px #fff,
    0 0 0 16px #3d6cb0;
    margin: 0 auto;
}

.bio_name {
    font-family: 'MyriadPro-LightSemiExt', serif;
    text-transform: uppercase;
    word-spacing: 1px;
    font-size: 58px;
    letter-spacing: -1px;
    padding-top: 40px;
}

.bio_surname {
    text-transform: uppercase;
    line-height: 0.6;
    letter-spacing: 4.5px;
    font-size: 60px;
    font-weight: bold;
}

.bio_prof {
    text-transform: uppercase;
    line-height: 2.8;
    font-size: 26.5px;
    font-weight: bold;
}


/*Block's header*/

.head_of_section {
    height: 75px;
    display: flex;
}

.head_of_section .img {
    /*width: 120px;*/
    /*height: auto;*/
    /*background-image: url("../img/PROFILE.png");*/
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.head_of_section h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin: auto;
}

.head_of_section .line {
    height: 5px;
    width: 200px;
    background-color: #3d6cb0;
    margin: auto;
}

/*Profile block*/

.profile {
height: 381px;
}

.profile .img {
    width: 120px;
    height: auto;
    background-image: url("../img/PROFILE.png");
}

.profile .line {
    width: 270px;
}

.profile .head_of_section {
    margin-bottom: 13px;
}

/*Contact block*/

.contact {
    height: 350px;
}

.contact .img {
    width: 110px;
    height: auto;
    background-image: url("../img/Phone.png");
}

.contact .line {
    width: 210px;
}

/*Skills block*/

.skills {
    height: 391px;
    text-align: center;
}

.skills .img {
    width: 80px;
    height: auto;
    background-image: url("../img/SKILLS.png");
}

.skills .head_of_section {
    margin-bottom: 20px;
}

.skills h3 {
    text-transform: uppercase;
    font-size: 26px;
}

.round {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #e6e6e6;
    display: inline-block;
    margin-right: 5px;
}

.round.fill {
    background-color: #3d6cb0;
}

/*Educational block*/

.education {

}

/*Experience block*/

.experience {

}

.bold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

.uppercase {
    text-transform: uppercase;
    font-size: 26px;
}


/*Software block*/

.software {
    display: inline-block;
}

.subcol {
    display: inline-block;
    height: 100px;
}

.bar {
    width: 428px;
    height: 35px;
    background-color: #e6e6e6;
}

.fillbar.Photoshop {
    width: 390px;
    height: 35px;
    background-color: #3d6cb0;
}

.fillbar.Illustrator {
    width: 302px;
    height: 35px;
    background-color: #3d6cb0;
}

.fillbar.Indesign {
    width: 240.88px;
    height: 35px;
    background-color: #3d6cb0;
}

.fillbar.Dreamwaver {
    width: 355.60px;
    height: 35px;
    background-color: #3d6cb0;
}

.fillbar.Effects {
    width: 263.81px;
    height: 35px;
    background-color: #3d6cb0;
}

.fillbar.Html {
    width: 390px;
    height: 35px;
    background-color: #3d6cb0;
}