// fourth block Skills
section.skills
    include ../block_header/block_header
    +header('Skills')
    ul.skills__list
        li.skills__list-item
            ul.skills__description
                li.skill__header
                    h3 Creative
                li.skill__level
                    ul.skill__level-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point
                        li.empty-point
                        li.empty-point
        li.skills_list-item
            ul.skills__description
                li.skill__header
                    h3 Teamwork
                li.skill__level
                    ul.skill__level-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point
        li.skills_list-item
            ul.skills__description
                li.skill__header
                    h3 Innovate
                li.skill__level
                    ul.skill__level-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point
                        li.empty-point
                        li.empty-point
                        li.empty-point
                        li.empty-point
                        li.empty-point
        li.skills_list-item
            ul.skills__description
                li.skill__header
                    h3 Communication
                li.skill__level
                    ul.skill__level-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point.fill-point
                        li.empty-point
