//Fonts
$fontRegular = 'MyriadPro-Regular'
$fontBold = 'MyriadPro-Bold'
$fontLightSemiExt = 'MyriadPro-LightSemiExt'

//Colors
$mainColor = #006cb4
$whiteColor = #fff
$grayColor = #e7e7e7
$blackColor = #000