//seventh block Software
section.software
    .block-header.software__header
        ul.block-header__items
            li.block-header__img
            li.block-header__title
                h2 Software
            li.block-header__line
    table.software__table
        tr.software__item-header
            td.col-1
                h3 Photoshop
            td.col-2
                h3 Dreamweaver
        tr
            td.col-1
                .software__progress-empty
                    .photoshop
            td.col-2
                .software__progress-empty
                    .dreamweaver
        tr.software__item-header
            td.col-1
                h3 Illustrator
            td.col-2
                h3 After Effects
        tr
            td.col-1
                .software__progress-empty
                    .illustrator
            td.col-2
                .software__progress-empty
                    .ae
        tr.software__item-header
            td.col-1
                h3 Indesign
            td.col-2
                h3 Html&Css3
        tr
            td.col-1
                .software__progress-empty
                    .indesign
            td.col-2
                .software__progress-empty
                    .html
