//
//seventh block Software
//
.software
  margin-top: 47px

.software .block-header__img
  background-image: url('./img/SOFTWARE.png')
  width: 77px
  height: 74px
  margin-right: 20px

.software .block-header__title
  margin-right: 27px

.software__table
  border-collapse: collapse
  width: auto
  margin: 25px 6px 0

.software__table tr
  height: 45px
  vertical-align: top

.software__table .col-1
  width: 100%

.software__table h3
  margin: 0
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 27px
  text-transform: uppercase
  letter-spacing: -0.2px

.software__progress-empty
  width: 285px
  height: 23px
  background-color: #e7e7e7

.photoshop
  background-color: #006cb4
  width: 260px
  height: 23px

.dreamweaver
  background-color: #006cb4
  width: 237px
  height: 23px

.illustrator
  background-color: #006cb4
  width: 201px
  height: 23px

.ae
  background-color: #006cb4
  width: 176px
  height: 23px

.indesign
  background-color: #006cb4
  width: 162px
  height: 23px

.html
  background-color: #006cb4
  width: 260px
  height: 23px

@media (max-width: 1187px)

  .software__table .col-1
    width: 60%
    padding-right: 5%

  .software__table
    margin: 25px auto 0

@media (max-width: 663px) and (min-width: 0px)

  .software__table
    margin: 25px auto 300px

  .software__table tr
    display: flex
    flex-direction: column

  .software__table td
    display: block

  .software__table .col-1
    padding-bottom: 240px