@import "../styl/variables.styl"

//
//sixth block Experience
//
.experience
  margin-top: 53px

.experience__list
  padding-left: 54px
  margin-top: 41px

.experience__item-header
  font-family: $fontBold, Arial, sans-serif;
  font-size: 27px
  text-transform: uppercase
  letter-spacing: -0.4px

.experience__item--addText
  font-family: $fontRegular, Arial, sans-serif;
  font-size: 27px
  text-transform: none

.experience__item--upper
  font-family: $fontRegular, Arial, sans-serif;
  text-transform: uppercase
  font-size: 27px
  margin-top: 3px
  letter-spacing: -0.5px

.experience__item-description
  margin-top: 4px
  font-family: $fontRegular, Arial, sans-serif;
  font-size: 16px

.experience__list-item
  position: relative
  margin-bottom: 14px

.experience__list-item:nth-child(2)
  margin-bottom: 13px

.experience__list-item > li::before
  content: ''

  position: absolute
  top: 7px
  left: -41px

  width: 20px
  height: 20px
  border-radius: 50%
  background-color: $blackColor

@media (max-width: 715px)

  .experience__item-description
    text-align: justify
