// sixth block Experience
section.experience
    include ../block_header/block_header
    +header('Experience')
    ul.experience__list
        ul.experience__list-item
            li.experience__item-header
                span.experience__item-header--bold Company Name&nbsp&nbsp&nbsp;
                span.experience__item--addText // Feb 2011 - Jun 2014
            li.experience__item--upper Your Job Here
            li.experience__item-description.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque.
        ul.experience__list-item
            li.experience__item-header
                span.experience__item-header--bold Company Name&nbsp&nbsp&nbsp;
                span.experience__item--addText // Feb 2011 - Jun 2014
            li.experience__item--upper Your Job Here
            li.experience__item-description.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque
        ul.experience__list-item
            li.experience__item-header
                span.experience__item-header--bold Company Name&nbsp&nbsp&nbsp;
                span.experience__item--addText // Feb 2011 - Jun 2014
            li.experience__item--upper Your Job Here
            li.experience__item-description.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque.
