@import "../styl/variables.styl"

//
//third block Contact
//
.contact
  margin-top: 48px
  display: flex
  flex-flow column wrap
  & .block-header__img
    background-image: url('./Phone.png')
    width: 74px
    height: 74px
    margin-right: 14px
  & .block-header__title
    margin-right: 9px

.contact__table
  border-collapse: collapse
  margin-top: 18px
  margin-left: -1.1px;
  text-align: left
  vertical-align: top
  & th
    font-family: $fontBold, Arial, sans-serif;
    font-size: 22px
    color: $mainColor
    text-transform: uppercase
    width: 131px
    letter-spacing: -0.5px
  & td
    font-family: $fontRegular, Arial, sans-serif;
    font-size: 22px
    letter-spacing: -0.4px
  & tr
    height: 56px

@media (max-width: 1187px)

  .contact tbody
    display: flex
    flex-flow row wrap
    justify-content: space-around;
    margin: 0 5%
    & tr
      width: 50%

@media (max-width: 715px)

  .contact__table th
    text-align: right
    padding-right: 10%

  .contact__table td
    width: 50%

  .contact tbody
    margin: 0
    display: table
    width: 100%
