//third block Contact
section.contact
    include ../block_header/block_header
    +header('Contact')
    table.contact__table
        tr
            th Address
            td Main Street, City.
        tr
            th E-mail
            td contact@domain.com
        tr
            th Phone
            td 555-555-555
        tr
            th Website
            td www.yourweb.com
