//
//seventh block Software
//
section.software
    include ../block_header/block_header
    +header('Software')
    table.software__table
        tr.software__item-header
            td.col-1
                h3 Photoshop
            td.col-2
                h3 Dreamweaver
        tr
            td.col-1
                .software__progress-empty
                    include ../mixins/Software_progress_width
                    +softwareProgressWidth(260)
            td.col-2
                .software__progress-empty
                    include ../mixins/Software_progress_width
                    +softwareProgressWidth(237)
        tr.software__item-header
            td.col-1
                h3 Illustrator
            td.col-2
                h3 After Effects
        tr
            td.col-1
                .software__progress-empty
                    include ../mixins/Software_progress_width
                    +softwareProgressWidth(201)
            td.col-2
                .software__progress-empty
                    include ../mixins/Software_progress_width
                    +softwareProgressWidth(176)
        tr.software__item-header
            td.col-1
                h3 Indesign
            td.col-2
                h3 Html&Css3
        tr
            td.col-1
                .software__progress-empty
                    include ../mixins/Software_progress_width
                    +softwareProgressWidth(162)
            td.col-2
                .software__progress-empty
                    include ../mixins/Software_progress_width
                    +softwareProgressWidth(260)