@import "../styl/variables.styl"

//
//fifth block Education
//
.education__item::before
  content: ''

  position: absolute
  left: -41px
  top: 7px

  width: 20px
  height: 20px
  border-radius: 50%
  background-color: $blackColor

.education__list
  margin-top: 24px
  padding-left: 54px

.education__item
  position: relative
  margin-bottom: 11px

.education__item:nth-child(2)
  margin-bottom: 9px

.education__item:nth-child(3)
  margin-bottom: 9px

.education__item-header--bold
  font-family: $fontBold, Arial, sans-serif;
  font-size: 30px
  letter-spacing: -2.3px
  text-transform: uppercase

.education__item--addText
  font-family: $fontRegular, Arial, sans-serif;
  font-size: 27px

.education__item--upper
  font-family: $fontRegular, Arial, sans-serif;
  text-transform: uppercase
  font-size: 27px
  letter-spacing: -0.6px

.education__item-description
  font-family: $fontRegular, Arial, sans-serif;
  margin-top: 5px
  font-size: 16px

//@media (max-width: 1187px)
@media (max-width: 715px)

  .education__item-description
    text-align: justify
