// fifth block Education
section.education
    .block-header.education__header
        ul.block-header__items
            li.block-header__img
                li.block-header__title
                    h2 Education
                li.block-header__line
    ul.education__list
        li.education__item
            ul.education__item-description
                li.education__item-header
                    span.education__item-header--bold Master Degree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    span.education__item--addText // Feb 2011 - Jun 2014
                li.education__item--upper University Name
                li.education__item-description.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec, pellentesque.
        li.education__item
            ul.education__item-description
                li.education__item-header
                    span.education__item-header--bold Master Degree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    span.education__item--addText // Feb 2011 - Jun 2014
                li.education__item--upper University Name
                li.education__item-description.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec, pellentesque.
        li.education__item
            ul.education__item-description
                li.education__item-header
                    span.education__item-header--bold Master Degree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    span.education__item--addText // Feb 2011 - Jun 2014
                li.education__item--upper University Name
                li.education__item-description.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec, pellentesque.
        li.education__item
            ul.education__item-description
                li.education__item-header
                    span.education__item-header--bold Master Degree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    span.education__item--addText // Feb 2011 - Jun 2014
                li.education__item--upper University Name
                li.education__item-description.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Donec quam felis, ultricies nec, pellentesque.
