//third block Contact
section.contact
    .block-header.contact__header
        ul.block-header__items
            li.block-header__img
            li.block-header__title
                h2 Contact
            li.block-header__line
    table.contact__table
        tr
            th Address
            td Main Street, City.
        tr
            th E-mail
            td contact@domain.com
        tr
            th Phone
            td 555-555-555
        tr
            th Website
            td www.yourweb.com
