//
//fourth block Skills
//
.skills
  margin-top: 34px

.skills .block-header__img
  background-image: url('./img/SKILLS.png')
  height: 74px;
  width: 74px;
  margin-right: 10px

.skills .block-header__title
  margin-right: 15px

.skill__header > h3
  margin-top: 0
  margin-bottom: 8px

.skills__list
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-top: 22px
  height: 286px
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 23px
  text-transform: uppercase

.skills__description
  height: 51px
  text-align: center
  display: flex
  flex-direction: column
  align-items: center

.skill__level-point
  width: 331px
  display: flex
  flex: initial
  justify-content: space-between

.empty-point
  width: 18px
  height: 18px
  border-radius: 50%
  background-color: #e7e7e7

.fill-point
  background-color: #006cb4