@import "../styl/variables.styl"

/**/
/* second block Profile */
/**/
.profile
  margin-top: 63px

.profile .block-header__img
  background-image: url("./PROFILE.png")
  width: 77px
  height: 74px
  margin-right: 10px

.profile .block-header__title
  margin-right: 11px

.profile__description
  font-family: $fontRegular, Arial, sans-serif;
  margin-top: 13px
  line-height: 1.2
  & span
    font-weight: bold;

@media (max-width: 1187px)

  .profile__description
    margin: 20px 20px
    text-align: justify