@font-face {
  font-family: 'MyriadPro-Bold';
  src: url(./fonts/MyriadPro-Bold.woff) format('woff');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(./fonts/MyriadPro-Regular.woff) format('woff');
}
@font-face {
  font-family: 'MyriadPro-LightSemiExt';
  src: url(./fonts/MyriadPro-LightSemiExt.woff) format('woff');
}
body {
  margin: 0;
  background-color: #ddd;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block-header__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.block-header__items .block-header__img,
.block-header__items .block-header__title {
  margin-right: 10px;
}
.block-header__img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 79px;
  height: 79px;
  flex-shrink: 0;
}
.profile .block-header__img {
  background-image: url(./img/profile.png);
}
.contact .block-header__img {
  background-image: url(./img/contact.png);
}
.skills .block-header__img {
  background-image: url(./img/skills.png);
}
.education .block-header__img {
  background-image: url(./img/education.png);
}
.experience .block-header__img {
  background-image: url(./img/experience.png);
}
.software .block-header__img {
  background-image: url(./img/software.png);
}
.block-header__title {
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 29px;
  letter-spacing: -1px;
}
.block-header__title > h2 {
  margin: 0;
}
.block-header__line {
  background-color: #006cb4;
  height: 5px;
  width: 5px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
main {
  background-color: #fff;
  width: 1280px;
  padding-top: 4.1%;
  padding-left: 3.3%;
  padding-right: 3.1%;
  padding-bottom: 3.4%;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.first-col {
  width: 425px;
  margin-right: 20px;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  flex-wrap: wrap;
}
.second-col {
  width: 652px;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
}
.bio {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 4.5%;
}
.bio .big-photo {
  margin-top: 28px;
  width: 209px;
  height: 209px;
  border-radius: 50%;
  background-color: #006cb4;
  box-shadow: 0 0 0 14px #fff, 0 0 0 16px #006cb4;
}
.bio .full-name__list > li > h2 {
  margin: 0;
}
.full-name__list {
  margin-top: 40px;
  list-style-type: none;
  white-space: nowrap;
}
.full-name__list .full-name__name {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 37px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.full-name__list .full-name__surname {
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: -1px;
}
.full-name__list .full-name__position {
  text-align: center;
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 62px;
  font-size: 18px;
  letter-spacing: -1.4px;
}
@media (max-width: 1187px) {
  .bio {
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
  }
  .bio .big-photo {
    margin-right: 20px;
  }
  .bio .full-name__list {
    align-self: center;
  }
}
@media (max-width: 715px) {
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .big-photo {
    margin-right: 0;
  }
}
.profile {
  margin-top: 63px;
}
.profile__description {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  margin-top: 13px;
  line-height: 1.2;
}
.profile__description span {
  font-weight: bold;
}
@media (max-width: 1187px) {
  .profile__description {
    margin: 20px 20px;
    text-align: justify;
  }
}
.contact {
  margin-top: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}
.contact__table {
  border-collapse: collapse;
  margin-top: 18px;
  margin-left: -1.1px;
  text-align: left;
  vertical-align: top;
}
.contact__table th {
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  font-size: 22px;
  color: #006cb4;
  text-transform: uppercase;
  width: 131px;
  letter-spacing: -0.5px;
}
.contact__table td {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 22px;
  letter-spacing: -0.4px;
}
.contact__table tr {
  height: 56px;
}
@media (max-width: 1187px) {
  .contact tbody {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 5%;
  }
  .contact tbody tr {
    width: 50%;
  }
}
@media (max-width: 715px) {
  .contact__table th {
    text-align: right;
    padding-right: 10%;
  }
  .contact__table td {
    width: 50%;
  }
  .contact tbody {
    margin: 0;
    display: table;
    width: 100%;
  }
}
.skills {
  margin-top: 34px;
}
.skill__header > h3 {
  margin-top: 0;
  margin-bottom: 8px;
}
.skills__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
  height: 286px;
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 23px;
  text-transform: uppercase;
}
.skills__description {
  height: 51px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.skill__level-point {
  width: 331px;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: initial;
          flex: initial;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.empty-point {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #e7e7e7;
}
.fill-point {
  background-color: #006cb4;
}
.education__item::before {
  content: '';
  position: absolute;
  left: -41px;
  top: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
}
.education__list {
  margin-top: 24px;
  padding-left: 54px;
}
.education__item {
  position: relative;
  margin-bottom: 11px;
}
.education__item:nth-child(2) {
  margin-bottom: 9px;
}
.education__item:nth-child(3) {
  margin-bottom: 9px;
}
.education__item-header--bold {
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -2.3px;
  text-transform: uppercase;
}
.education__item--addText {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 27px;
}
.education__item--upper {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: -0.6px;
}
.education__item-description {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  margin-top: 5px;
  font-size: 16px;
}
@media (max-width: 715px) {
  .education__item-description {
    text-align: justify;
  }
}
.experience {
  margin-top: 53px;
}
.experience__list {
  padding-left: 54px;
  margin-top: 41px;
}
.experience__item-header {
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
.experience__item--addText {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 27px;
  text-transform: none;
}
.experience__item--upper {
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 3px;
  letter-spacing: -0.5px;
}
.experience__item-description {
  margin-top: 4px;
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 16px;
}
.experience__list-item {
  position: relative;
  margin-bottom: 14px;
}
.experience__list-item:nth-child(2) {
  margin-bottom: 13px;
}
.experience__list-item > li::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -41px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
}
@media (max-width: 715px) {
  .experience__item-description {
    text-align: justify;
  }
}
.software {
  margin-top: 47px;
}
.software__table {
  border-collapse: collapse;
  width: auto;
  margin: 25px 6px 0;
}
.software__table tr {
  height: 45px;
  vertical-align: top;
}
.software__table .col-1 {
  width: 100%;
}
.software__table h3 {
  margin: 0;
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.software__progress-empty {
  width: 285px;
  height: 23px;
  background-color: #e7e7e7;
}
.software__progress {
  background-color: #006cb4;
}
@media (max-width: 1187px) {
  .software__table {
    margin: 25px auto 0;
  }
  .software__table .col-1 {
    width: 60%;
    padding-right: 5%;
  }
}
@media (max-width: 663px) and (min-width: 0px) {
  .software__table {
    margin: 25px auto 300px;
  }
  .software__table tr {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .software__table td {
    display: block;
  }
  .software__table .col-1 {
    padding-bottom: 240px;
  }
}
@media (max-width: 1187px) {
  main {
    padding-left: 3%;
    padding-right: 3%;
  }
  .block-header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  .profile .block-header__img,
  .profile .block-header__title,
  .contact .block-header__img,
  .contact .block-header__title,
  .skills .block-header__img,
  .skills .block-header__title,
  .education .block-header__img,
  .education .block-header__title,
  .experience .block-header__img,
  .experience .block-header__title,
  .software .block-header__img,
  .software .block-header__title {
    margin: 0;
  }
  .block-header__line {
    width: 100%;
  }
  .first-col {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  .second-col {
    width: 100%;
  }
  .bio {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    padding-left: 4.5%;
  }
  .bio .big-photo {
    margin-top: 28px;
    width: 209px;
    height: 209px;
    border-radius: 50%;
    background-color: #006cb4;
    box-shadow: 0 0 0 14px #fff, 0 0 0 16px #006cb4;
  }
  .bio .full-name__list > li > h2 {
    margin: 0;
  }
  .full-name__list {
    margin-top: 40px;
    list-style-type: none;
    white-space: nowrap;
  }
  .full-name__list .full-name__name {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 37px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .full-name__list .full-name__surname {
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 43px;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: -1px;
  }
  .full-name__list .full-name__position {
    text-align: center;
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 62px;
    font-size: 18px;
    letter-spacing: -1.4px;
  }
  .profile {
    margin-top: 63px;
  }
  .profile__description {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    margin-top: 13px;
    line-height: 1.2;
  }
  .profile__description span {
    font-weight: bold;
  }
  .contact {
    margin-top: 48px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  .contact__table {
    border-collapse: collapse;
    margin-top: 18px;
    margin-left: -1.1px;
    text-align: left;
    vertical-align: top;
  }
  .contact__table th {
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 22px;
    color: #006cb4;
    text-transform: uppercase;
    width: 131px;
    letter-spacing: -0.5px;
  }
  .contact__table td {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: -0.4px;
  }
  .contact__table tr {
    height: 56px;
  }
  .software {
    margin-top: 47px;
  }
  .software__table {
    border-collapse: collapse;
    width: auto;
    margin: 25px 6px 0;
  }
  .software__table tr {
    height: 45px;
    vertical-align: top;
  }
  .software__table .col-1 {
    width: 100%;
  }
  .software__table h3 {
    margin: 0;
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
  }
  .software__progress-empty {
    width: 285px;
    height: 23px;
    background-color: #e7e7e7;
  }
  .software__progress {
    background-color: #006cb4;
  }
}
@media (max-width: 1187px) and (max-width: 1187px) {
  .bio {
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
  }
  .bio .big-photo {
    margin-right: 20px;
  }
  .bio .full-name__list {
    align-self: center;
  }
}
@media (max-width: 1187px) and (max-width: 715px) {
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .big-photo {
    margin-right: 0;
  }
}
@media (max-width: 1187px) and (max-width: 1187px) {
  .profile__description {
    margin: 20px 20px;
    text-align: justify;
  }
}
@media (max-width: 1187px) and (max-width: 1187px) {
  .contact tbody {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 5%;
  }
  .contact tbody tr {
    width: 50%;
  }
}
@media (max-width: 1187px) and (max-width: 715px) {
  .contact__table th {
    text-align: right;
    padding-right: 10%;
  }
  .contact__table td {
    width: 50%;
  }
  .contact tbody {
    margin: 0;
    display: table;
    width: 100%;
  }
}
@media (max-width: 1187px) and (max-width: 1187px) {
  .software__table {
    margin: 25px auto 0;
  }
  .software__table .col-1 {
    width: 60%;
    padding-right: 5%;
  }
}
@media (max-width: 1187px) and (max-width: 663px) and (min-width: 0px) {
  .software__table {
    margin: 25px auto 300px;
  }
  .software__table tr {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .software__table td {
    display: block;
  }
  .software__table .col-1 {
    padding-bottom: 240px;
  }
}
@media (max-width: 715px) {
  .bio {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    padding-left: 4.5%;
  }
  .bio .big-photo {
    margin-top: 28px;
    width: 209px;
    height: 209px;
    border-radius: 50%;
    background-color: #006cb4;
    box-shadow: 0 0 0 14px #fff, 0 0 0 16px #006cb4;
  }
  .bio .full-name__list > li > h2 {
    margin: 0;
  }
  .full-name__list {
    margin-top: 40px;
    list-style-type: none;
    white-space: nowrap;
  }
  .full-name__list .full-name__name {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 37px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .full-name__list .full-name__surname {
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 43px;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: -1px;
  }
  .full-name__list .full-name__position {
    text-align: center;
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 62px;
    font-size: 18px;
    letter-spacing: -1.4px;
  }
  .contact {
    margin-top: 48px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  .contact__table {
    border-collapse: collapse;
    margin-top: 18px;
    margin-left: -1.1px;
    text-align: left;
    vertical-align: top;
  }
  .contact__table th {
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 22px;
    color: #006cb4;
    text-transform: uppercase;
    width: 131px;
    letter-spacing: -0.5px;
  }
  .contact__table td {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: -0.4px;
  }
  .contact__table tr {
    height: 56px;
  }
  .education__item::before {
    content: '';
    position: absolute;
    left: -41px;
    top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
  }
  .education__list {
    margin-top: 24px;
    padding-left: 54px;
  }
  .education__item {
    position: relative;
    margin-bottom: 11px;
  }
  .education__item:nth-child(2) {
    margin-bottom: 9px;
  }
  .education__item:nth-child(3) {
    margin-bottom: 9px;
  }
  .education__item-header--bold {
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: -2.3px;
    text-transform: uppercase;
  }
  .education__item--addText {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 27px;
  }
  .education__item--upper {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: -0.6px;
  }
  .education__item-description {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    margin-top: 5px;
    font-size: 16px;
  }
  .experience {
    margin-top: 53px;
  }
  .experience__list {
    padding-left: 54px;
    margin-top: 41px;
  }
  .experience__item-header {
    font-family: 'MyriadPro-Bold', Arial, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
  }
  .experience__item--addText {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 27px;
    text-transform: none;
  }
  .experience__item--upper {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 3px;
    letter-spacing: -0.5px;
  }
  .experience__item-description {
    margin-top: 4px;
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 16px;
  }
  .experience__list-item {
    position: relative;
    margin-bottom: 14px;
  }
  .experience__list-item:nth-child(2) {
    margin-bottom: 13px;
  }
  .experience__list-item > li::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -41px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
  }
}
@media (max-width: 715px) and (max-width: 1187px) {
  .bio {
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
  }
  .bio .big-photo {
    margin-right: 20px;
  }
  .bio .full-name__list {
    align-self: center;
  }
}
@media (max-width: 715px) and (max-width: 715px) {
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .big-photo {
    margin-right: 0;
  }
}
@media (max-width: 715px) and (max-width: 1187px) {
  .contact tbody {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 5%;
  }
  .contact tbody tr {
    width: 50%;
  }
}
@media (max-width: 715px) and (max-width: 715px) {
  .contact__table th {
    text-align: right;
    padding-right: 10%;
  }
  .contact__table td {
    width: 50%;
  }
  .contact tbody {
    margin: 0;
    display: table;
    width: 100%;
  }
}
@media (max-width: 715px) and (max-width: 715px) {
  .education__item-description {
    text-align: justify;
  }
}
@media (max-width: 715px) and (max-width: 715px) {
  .experience__item-description {
    text-align: justify;
  }
}
@media (max-width: 663px) and (min-width: 0px) {
  body {
    background-color: #fff;
  }
  .software {
    margin-top: 47px;
  }
  .software__table {
    border-collapse: collapse;
    width: auto;
    margin: 25px 6px 0;
  }
  .software__table tr {
    height: 45px;
    vertical-align: top;
  }
  .software__table .col-1 {
    width: 100%;
  }
  .software__table h3 {
    margin: 0;
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
  }
  .software__progress-empty {
    width: 285px;
    height: 23px;
    background-color: #e7e7e7;
  }
  .software__progress {
    background-color: #006cb4;
  }
}
@media (max-width: 663px) and (min-width: 0px) and (max-width: 1187px) {
  .software__table {
    margin: 25px auto 0;
  }
  .software__table .col-1 {
    width: 60%;
    padding-right: 5%;
  }
}
@media (max-width: 663px) and (min-width: 0px) and (max-width: 663px) and (min-width: 0px) {
  .software__table {
    margin: 25px auto 300px;
  }
  .software__table tr {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .software__table td {
    display: block;
  }
  .software__table .col-1 {
    padding-bottom: 240px;
  }
}

