doctype html
html
    head
        meta(charset='UTF-8')
        title CV (Responsive)
    body
        main
            // first block BIO
            section.bio
                .bio__items.big-photo
                .bio__full-name
                    ul.full-name__list
                        li.full-name__name
                            h2 Name Here
                        li.full-name__surname
                            h2 Surname
                        li.full-name__position
                            h2 Graphic Designer

            // second block Profile
            section.profile
                .block-header.profile__header
                    ul.block-header__items
                        li.block-header__img
                        li.block-header__title
                            h2 Profile
                        li.block-header__line
                    p.profile__description.block__description.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                        enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                        <span class='profile__description--bold'>
                        pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                        vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                        Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                        metus varius laoreet. Quisque rutrum.</span>

            //third block Contact
            section.contact
                .block-header.contact__header
                    ul.block-header__items
                        li.block-header__img
                        li.block-header__title
                            h2 Contact
                        li.block-header__line
                table.contact__table
                    tr
                        th Address
                        td Main Street, City.
                    tr
                        th E-mail
                        td contact@domain.com
                    tr
                        th Phone
                        td 555-555-555
                    tr
                        th Website
                        td www.yourweb.com

            // fourth block Skills
            section.skills
                .block-header.skills__header
                    ul.block-header__items
                        li.block-header__img
                        li.block-header__title
                            h2 Skills
                        li.block-header__line
                ul.skills__list
                    li.skills__list-item
                        ul.skills__description
                            li.skill__header
                                h3 Creative
                            li.skill__level
                                ul.skill__level-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point
                                    li.empty-point
                                    li.empty-point
                    li.skills_list-item
                        ul.skills__description
                            li.skill__header
                                h3 Teamwork
                            li.skill__level
                                ul.skill__level-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point
                    li.skills_list-item
                        ul.skills__description
                            li.skill__header
                                h3 Innovate
                            li.skill__level
                                ul.skill__level-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point
                                    li.empty-point
                                    li.empty-point
                                    li.empty-point
                                    li.empty-point
                                    li.empty-point
                    li.skills_list-item
                        ul.skills__description
                            li.skill__header
                                h3 Communication
                            li.skill__level
                                ul.skill__level-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point.fill-point
                                    li.empty-point

            // fifth block Education
            section.education
                .block-header.education__header
                    ul.block-header__items
                        li.block-header__img
                            li.block-header__title
                                h2 Education
                            li.block-header__line
                ul.education__list
                    li.education__item
                        ul.education__item-description
                            li.education__item-header
                                span.education__item-header--bold.education__item--upper Master Degree&nbsp;
                                span.education__item--upper // Feb 2011 - Jun 2014
                            li.education__item--upper University Name
                            li.education__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque.
                    li.education__item
                        ul.education__item-description
                            li.education__item-header
                                span.education__item-header--bold.education__item--upper Master Degree&nbsp;
                                span.education__item--upper // Feb 2011 - Jun 2014
                            li.education__item--upper University Name
                            li.education__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque.
                    li.education__item
                        ul.education__item-description
                            li.education__item-header
                                span.education__item-header--bold.education__item--upper Master Degree&nbsp;
                                span.education__item--upper // Feb 2011 - Jun 2014
                            li.education__item--upper University Name
                            li.education__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque.
                    li.education__item
                        ul.education__item-description
                            li.education__item-header
                                span.education__item-header--bold.education__item--upper Master Degree&nbsp;
                                span // Feb 2011 - Jun 2014
                            li.education__item--upper University Name
                            li.education__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque.

            // sixth block Experience
            section.experience
                .block-header.experience__header
                    ul.block-header__items
                        li.block-header__img
                        li.block-header__title
                            h2 Experience
                        li.block-heder__line
                ul.experience__list
                    li.experience__item
                        ul.experience__item-desctiption
                            li.experience__item-header
                                span.experience__item-header--bold Company Name&nbsp;
                                span // Feb 2011 - Jun 2014
                            li.experience__item--upper Your Job Here
                            li.experience__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque.
                        ul.experience__item-desctiption
                            li.experience__item-header
                                span.experience__item-header--bold Company Name&nbsp;
                                span // Feb 2011 - Jun 2014
                            li.experience__item--upper Your Job Here
                            li.experience__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque
                        ul.experience__item-desctiption
                            li.experience__item-header
                                span.experience__item-header--bold Company Name&nbsp;
                                span // Feb 2011 - Jun 2014
                            li.experience__item--upper Your Job Here
                            li.experience__item-description.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Donec quam felis, ultricies nec, pellentesque.

            //seventh block Software
            section.software
                .block-header.software__header
                    ul.block-header__items
                        li.block-header__img
                        li.block-header__title
                            h2 Software
                        li.block-header__line
                table.software__table
                    tr.sowftware__item-header
                        td
                            h3 Photoshop
                        td
                            h3 Dreamweaver
                    tr.software__item-level
                        td
                            .software__progress-empty
                                .software__progress-fill
                        td
                            .software__progress-empty
                                .software__progress-fill
                    tr.software__item-header
                        td
                            h3 Illustrator
                        td
                            h3 After Effects
                    tr.software__item-level
                        td
                            .software__progress-empty
                                .software__progress-fill
                        td
                            .software__progress-empty
                                .software__progress-fill
                    tr.software__item-header
                        td
                            h3 Indesign
                        td
                            h3 Html&Css3
                    tr.software__item-level
                        td
                            .software__progress-empty
                                .software__progress-fill
                        td
                            .software__progress-empty
                                .software__progress-fill

