doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title CV (Responsive)
    body
        main
            .first-col
                include 1_bio/bio

                include 2_profile/profile

                include 3_contact/contact

                include 4_skills/skills
            .second-col
                include 5_education/education

                include 6_experience/experience

                include 7_software/software