doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title CV (Responsive)
    body
        main
            .first-col
                include bio/bio

                include profile/profile

                include contact/contact

                include skills/skills
            .second-col
                include education/education

                include experience/experience

                include software/software