body
  max-width: 1280px
  margin: 0 auto
  padding-top: 78px;

  // Common rules
  ul
    list-style-type: none

  //first block BIO
  .bio
    border: 1px solid red
    display: flex
    flex-direction column
    justify-content: center
    max-width: 42%

  .big-photo
    margin-left: 180px
    margin-top: 27px
    width: 209px
    height: 209px
    border-radius 50%
    background-color: #006cb4
    box-shadow: 0 0 0 14px #fff,
    0 0 0 16px #006cb4


  .full-name__list > li > h2
    margin: 0

  .full-name__list
    margin-top: 36px
    margin-left: 95px;
    margin-right: 105px;
    text-align: center;
    border: 1px solid red
    list-style-type: none

  .full-name__name
    border: 1px solid red


  .full-name__surname
    border: 1px solid red


  .full-name__position
    border: 1px solid red


  //second block Profile

  .profile__description--bold
    font-weight: bold;

    //third block Contact

    //fourth block Skills

    //fifth block Education

  .education__item-header--bold
    font-weight: bold;

  .education__item--upper
    text-transform: none;