//
//First block BIO
//
.bio
  display: flex
  flex-wrap wrap
  justify-content: center
  padding-left: 4.5%

.big-photo
  margin-top: 28px
  width: 209px
  height: 209px
  border-radius 50%
  background-color: #006cb4
  box-shadow: 0 0 0 14px #fff, 0 0 0 16px #006cb4

.full-name__list > li > h2
  margin: 0

.full-name__list
  margin-top: 40px
  list-style-type: none
  white-space: nowrap

.full-name__name
  font-family: 'MyriadPro-Regular', Arial, sans-serif;
  font-size: 37px
  letter-spacing: 0.5px
  text-transform: uppercase

.full-name__surname
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  font-size: 43px
  text-transform: uppercase;
  line-height: 44px
  letter-spacing: -1px

.full-name__position
  text-align: center
  font-family: 'MyriadPro-Bold', Arial, sans-serif;
  text-transform: uppercase
  line-height: 62px
  font-size: 18px
  letter-spacing: -1.4px

@media (max-width: 1187px)

  .bio
    justify-content: space-evenly

  .big-photo
    margin-right: 20px

  .full-name__list
    align-self center

@media (max-width: 715px)

  .bio
    flex-direction: column
    -moz-align-items: center
    -ms-align-items: center
    align-items: center

  .big-photo
    margin-right 0
