// first block BIO
section.bio
    .big-photo
    //.bio__full-name
    ul.full-name__list
        li.full-name__name
            h2 Name&nbspHere
        li.full-name__surname
            h2 Surname
        li.full-name__position
            h2 Graphic Designer